<!DOCTYPE html>
<html>
<head>
    <title>MyPortfolio</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div style="background-color: black" class="container-fluid">
        <div class="container">
        </div>
    </div>
</body>
</html>
