// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
    display:inline-block;
}

.post_section{
    text-align: center;
}

.message_post{
    height: 100 auto; 
    width: 500px;
    border: 1px solid black; 
    margin:0 auto;
}