<h1 style="text-align: center">The current time and date:</h1>
<h1 style="text-align: center"><%= Time.zone.now.strftime("%b %d, %Y")%></h1>
<h1 style="text-align: center"><%= Time.zone.now.strftime("%I:%M %p")%></h1>